body {
  font-family: "Crimson Text", serif;
}

.search {
  background: #f8f8ff;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
}

.input-search {
  font-family: "Crimson Text", serif;
}

input,
button {
  align-items: center;
  background: white;
  border: 2px solid black;
  line-height: 23px;
  margin: 0px auto;
  padding: 10px 20px;
  text-align: center;
}

.currentLocation, .container + .container {
  margin-top: 30px;
}

#city, 
#Date,
.weather-condition,
.conditionAtmosphere {
  font-family: "Crimson Text", serif;
}

#city {
  font-size: 32px;
}

.weather-condition {
  font-size: 26px;
  text-align: right;
  font-weight: bold;
}

.currentWeather {
  font-family: "Crimson Text", serif;
  font-size: 18px;
}

.currentWeather p + p {
  margin-bottom: 0;
}

#Cel, #Fahr {
  color: black;
  text-decoration-line: none;
}

#degree {
  font-weight: bold;
  font-size: 32px;
}

.conditionAtmosphere {
  font-size: 26px;
  text-align: right;
  list-style: none;
}

.currentWeatherContainer {
  display: flex;
  align-items: center;
}

.forecast {
  font-family: "Crimson Text", serif;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 20px;  
}

.c-degree,
.c-Degree {
  display: inline-block;
}

.c-Degree {
  color: gray;
}

.aboutOwner {
  font-family: "Crimson Text", serif;
  text-align: center;
}