body {
  background: #f8f8ff;
}
.Weather-search {
  background: white;
  border-radius: 16px;
  box-shadow: 0px 30px 50px #41326414;
  font-family: "Crimson Text", serif;
  margin: 50px auto;
  padding: 40px;
}

.Weather-search form {
  margin-top: 20px;
  padding-bottom: 30px;
}

.Weather-search .search-input {
  background: #f8f8ff;
  border: 1px solid #41326414;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: #27214266;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.Weather-search .btn {
  background: #f8f8ff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #41326414;
  height: 50px;
}

.Weather-search h1, h2 {
  margin: 20px 10px; 
}

.Weather-search h1 {
  font-size: 38px;
}

#city {
  font-weight: bold;
}

.Weather-search h2::first-letter {
  font-size: 30px;
  text-transform: capitalize;
}

.Weather-search canvas {
  margin: 10px 0;
}

.Weather-search .temperature {
  font-size: 60px;
  margin-left: 15px;
}

.Weather-search #unit-Celc, #unit-Fahr {
  font-size: 20px;
  font-weight: normal;
  position: relative;
  border: none;
  background: transparent;
}

.Weather-search ul {
  margin: 0;
  padding: 0;
}

.Weather-search li {
  font-weight: 500;
  margin-bottom: 5px;
  color: #5252ff;
  font-size: 20px;
  line-height: 20px;
  list-style: none;
}

.WeatherForecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #f8f8ff;
  padding-bottom: 50px;
}

.WeatherForecast .week-days {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.WeatherForecast .forecast-temp {
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
}

.WeatherForecast .temp-night {
  color: #5252ff;
  margin-left: 10px;
  opacity: 0.6;
}

.Weather .WeatherForecast canvas {
  display: block;
  margin: 20px auto;
}

.Weather-search footer {
  font-size: 18px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: #41326414;
}

.Weather-search .source {
  color: #5252ff;
  text-decoration: none;
}